Stories about what would you like to see on Choibo?
<form action="feedback" method="post" enctype="multipart/form-data">
	<input type="text" name="feedback" />
	<input type="submit" name="Done" value="Done" />
</form>